---
import Bots from '../components/Bots.astro';
import Hero from '../components/Hero.astro';
import SponsorUno from '../components/SponsorUno.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Where's Allen's Wrench - Team 15982">
	<main>
		<Hero></Hero>
		<Bots></Bots>
		<SponsorUno></SponsorUno>
	</main>
</Layout>

<style>
</style>
