---
import BotItem from "./Lib/BotItem.astro";
import Header from "./Lib/Header.astro";
---

<div class="container">
  <Header >Our Bots</Header>
  <h2>Jimmy - 2021-2022</h2>
  <div class="botlist">
    <BotItem
      URL="/jimmy.jpg"
      name="Jimmy"
      date="2022"
    />
    <p>Jimmy is our awesome robot that we used for the 2021-2022
      season. He used a <a href="https://gobilda.com">GoBilda</a> viper slide and a spin-style custom
      intake to play the game.
    </p>
  </div>
</div>

<style>
  .container {
    padding-top: 10vh;
    min-height: 40vh;
    padding-bottom: 5vh;
  }
  .botlist {
    display: flex;
    padding: 0 15em;
    margin: 0 auto;
    flex-wrap: wrap;
  }
</style>
