---
import BotItem from "./Lib/BotItem.astro";
import Header from "./Lib/Header.astro";
---

<div class="container">
  <Header >Our Bots</Header>
  <H2 >Jimmy - 2021-2022</H2>
  <div class="botlist">
    <BotItem
      href="/team-picture.jpg"
      name="Jimmy"
      date="2022"
    />
  </div>
</div>

<style>
  .container {
    height: 100vh;
    padding-bottom: 40vh;
  }
  .botlist {
    display: flex;
    
    padding: 0 3em;
    height: 100%;
  }
</style>
