---
import BotItem from "./BotItem.astro";
import Header from "./Lib/header.astro";
---

<div>
  <Header id="scroll">Our Bots</Header>
  <div>
    <BotItem
      URL={"https://mtek3d.com/wp-content/uploads/2018/01/image-placeholder-500x500.jpg"}
      name="Jimmy"
      date="2022"
    />
  </div>
</div>
