---
import BotItem from "./Lib/BotItem.astro";
import Header from "./Lib/Header.astro";
---

<div class="container">
  <Header >Our Bots</Header>
  <h2>Jimmy - 2021-2022</h2>
  <div class="botlist">
    <BotItem
      URL="/jimmy.jpg"
      name="Jimmy"
      date="2022"
    />
  </div>
</div>

<style>
  .container {
    height: 70vh;
    padding-bottom: 40vh;
  }
  .botlist {
    display: flex;
    
    padding: 0 25em;
    height: 100%;
  }
</style>
