---
import Header from "./Lib/Header.astro";
---

<div class="contact">
    <Header >Like what you see? Contact Us!</Header>
    <a href="mailto:wheresallenswrench@gmail.com"><img class="social" src="email.png" ></a>
    <a href="https://www.tiktok.com/@nkhsrobotics15982"><img class="social" src="tiktok.png"></a>
    <a href="https://github.com/FTC-15982-North-Robotics"><img class="social" src="github.png" ></a>
    <a href="https://www.youtube.com/channel/UCZNJY_v0k7DaVHL4dC7e24Q"><img class="social" src="yt.png" ></a>
</div>

<style>
    .contact {
        text-align: center;
        padding: 10 10 10 10em;
    }
</style>