---
import Header from "./Lib/Header.astro";
---

<div>
    <Header>Like what you see? Contact Us!</Header>
    <li><a href="mailto:wheresallenswrench@gmail.com">Email</a></li>
</div>

<style>
    li {
        text-align: center;
    }
</style>