---
import Header from "./Lib/Header.astro";
---

<div>
  <Header>Welcome!</Header>
  <p>We're team 15982, an amateur robotics team operating out of 
    <a href="nkhs.nksd.net">North Kingstown High School</a> in Rhode Island. We compete in the 
    <a href="firstinspires.org">First Tech Challenge</a>, a robotics competition for students in 
    grades 7-12. Last year, we built and designed our first robot
    as freshmen. His name is Jimmy, and you can read about him below!
    This year, we're using our new skills and knowledge to once again
    tackle the challenge. We're designing a brand-new robot, </p>
</div>

<style>
  p {
    text-align: justify;
    padding: 0 10em;
  }
</style>