---
import Header from "./Lib/Header.astro";
---

<div>
  <Header>Who We Are</Header>
  <div class="center">
    <div
      style="position:relative;width:fit-content;height:fit-content;"
      class="video"
    >
      <a
        style="position:absolute;top:20px;right:1rem;opacity:0.8;"
        href="https://clipchamp.com/watch/QNzDd7JleN8?utm_source=embed&utm_medium=embed&utm_campaign=watch"
      >
        <img
          style="height:22px;"
          src="https://clipchamp.com/e.svg"
          alt="Made with Clipchamp"
        />
      </a>
      <iframe
        allowfullscreen
        style="border:none"
        src="https://clipchamp.com/watch/QNzDd7JleN8/embed"
        width="640"
        height="360"></iframe>
    </div>
  </div>
</div>
<style>
  .center {
    display: grid;
    grid-template-columns: auto 640 auto;
  }
  .video {
    grid-column-start: 2;
  }
</style>
