<footer>
  <div>
    <h3>Associated Resources</h3>
    <ul>
      <li><a href="https://www.northrobotics.org/">North Robotics</a></li>
    </ul>
  </div>
  <div>
    <h3>Socials</h3>
    <ul>
      <li><a href="https://github.com/FTC-15982-North-Robotics">GitHub</a></li>
      <li>
        <a href="https://theorangealliance.org/teams/15982"
          >The Orange Alliance</a
        >
      </li>
      <li><a href="mailto:wheresallenswrench@gmail.com">Team Email</a></li>
      <li><a href="mailto:rshevenor@gmail.com">Webmaster Email</a></li>
    </ul>
  </div>
  <div>
    <h3><br /></h3>
    <ul>
      <li><a href="https://www.tiktok.com/@nkhsrobotics15982">TikTok</a></li>
      <li>
        <a href="https://www.youtube.com/channel/UCZNJY_v0k7DaVHL4dC7e24Q"
          >YouTube</a
        >
      </li>
    </ul>
  </div>
</footer>

<style>
  footer {
    display: grid;
    grid-template-columns: auto auto auto;

    color: white;

    min-height: 5em;
    padding: 1em 2em;

    background-color: rgb(34, 48, 48);
    box-shadow: 0 50vh 0 50vh rgb(34, 48, 48);

    margin-top: 2em;
    overflow: hidden;
  }
  a {
    all: inherit;
    text-decoration: underline;
  }
</style>
